@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-ping-once {
        animation: ping 0.5s cubic-bezier(0, 0, 0.2, 1) 1;
    }
}


#wishlist-count, #cart-count {
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}